* {
  box-sizing : border-box;
}

html {
  display: relative;
  width: 100%;
  min-height: 100%;
  background: lightblue;
}

.wrapper {
  display: absolute;
  background: #F0F0F0;
  margin-left: 33.3vw;
  margin-right: 33.3vw;
  height:100vh;
}

h1 {
  top: 25%;
  text-align: center;
}

